.vscode
.idea/
.tox
docs/_build/
.project
.settings
.pydevproject
go.work*
servicemanager.tar.gz
servicemanager/specs
servicemanager/servicemanager
servicemanager/internal/kongclearup
coverage.txt
# Ignore all .env files
.env*
# Except for .env.example
!.env.example
*Zone.Identifier